# Game of Thrones

Are you GoT's fan? Let's test it. Use the API: <a href="https://anapioficeandfire.com/" target="_blank">https://anapioficeandfire.com/</a> to find out more about the show.

1. Import the following libraries: 

      * ```requests```
      * ```pandas```
      * ```json```

In [1]:
import pandas as pd, requests, json

2. Go to the URL indicated in the description above. Using `requests`, get data on a character in the series. It doesn't matter who the character is.

In [2]:
baseline_url = "https://anapioficeandfire.com/api/characters"

In [11]:
specific_url = "/".join([baseline_url,'160'])

In [12]:
result = requests.get(specific_url)

In [13]:
result.text

'{"url":"https://www.anapioficeandfire.com/api/characters/160","name":"Baelor I","gender":"Male","culture":"","born":"144 AC, at King\'s Landing","died":"171 AC, at King\'s Landing","titles":["King of the Andals, the Rhoynar and the First Men","Lord of the Seven Kingdoms","Protector of the Realm"],"aliases":["Baelor the Beloved","Baelor the Blessed","Baelor the Befuddled"],"father":"https://www.anapioficeandfire.com/api/characters/40","mother":"https://www.anapioficeandfire.com/api/characters/1302","spouse":"https://www.anapioficeandfire.com/api/characters/270","allegiances":[],"books":["https://www.anapioficeandfire.com/api/books/1","https://www.anapioficeandfire.com/api/books/3","https://www.anapioficeandfire.com/api/books/5","https://www.anapioficeandfire.com/api/books/6","https://www.anapioficeandfire.com/api/books/8","https://www.anapioficeandfire.com/api/books/11"],"povBooks":[],"tvSeries":[""],"playedBy":[""]}'

3. Extract these data in JSON format:

In [41]:
got_dict = result.json()
got_dict

{'url': 'https://www.anapioficeandfire.com/api/characters/149',
 'name': 'Arys Oakheart',
 'gender': 'Male',
 'culture': 'Reach',
 'born': 'At Old Oak',
 'died': 'In 300 AC, at the Greenblood',
 'titles': ['Ser'],
 'aliases': [''],
 'father': '',
 'mother': '',
 'spouse': '',
 'allegiances': ['https://www.anapioficeandfire.com/api/houses/286'],
 'books': ['https://www.anapioficeandfire.com/api/books/1',
  'https://www.anapioficeandfire.com/api/books/2',
  'https://www.anapioficeandfire.com/api/books/3',
  'https://www.anapioficeandfire.com/api/books/8'],
 'povBooks': ['https://www.anapioficeandfire.com/api/books/5'],
 'tvSeries': [''],
 'playedBy': ['']}

4. Now extract the JSON keys you have obtained and create a DataFrame that will have the JSON keys you extracted as a column.

**Hint**: we can use: `r.json().keys()`.

In [42]:
got_df=pd.DataFrame(columns=got_dict.keys())
got_df

Empty DataFrame
Columns: [url, name, gender, culture, born, died, titles, aliases, father, mother, spouse, allegiances, books, povBooks, tvSeries, playedBy]
Index: []

5. Create a loop to extract data from the firsts 150 characters of the series and add them to your DataFrame.

In [16]:
for i in range(1, 150):
    result = requests.get("/".join([baseline_url, str(i)]))
    got_dict = result.json()
    got_df = got_df.append(got_dict, ignore_index=True)

In [17]:
got_df.shape

(149, 16)

In [18]:
new_url = 'https://www.anapioficeandfire.com/api/characters?page=1&pageSize=50'

In [19]:
new_result = requests.get(new_url)

In [21]:
new_result.text[:200]

'[{"url":"https://www.anapioficeandfire.com/api/characters/1","name":"","gender":"Female","culture":"Braavosi","born":"","died":"","titles":[""],"aliases":["The Daughter of the Dusk"],"father":"","moth'

In [22]:
new_got_dict = new_result.json()

In [25]:
len(new_got_dict)

50

In [36]:
pages = list()
for i in range(1,4):
    new_url = f'https://www.anapioficeandfire.com/api/characters?page={i}&pageSize=50'   
    print(new_url)
    new_result = requests.get(new_url)
    pages.append(new_result.json())

https://www.anapioficeandfire.com/api/characters?page=1&pageSize=50
https://www.anapioficeandfire.com/api/characters?page=2&pageSize=50
https://www.anapioficeandfire.com/api/characters?page=3&pageSize=50

In [43]:
for got_dict in pages:
    got_df = got_df.append(got_dict, ignore_index=True)

In [50]:
got_df[149:]

,url,name,gender,culture,born,died,titles,aliases,father,mother,spouse,allegiances,books,povBooks,tvSeries,playedBy
149,https://www.anapioficeandfire.com/api/characte...,Asha Greyjoy,Female,Ironborn,"In 275 AC or 276 AC, at Pyke",,"[Princess, Captain of the Black Wind, Conquero...","[Esgred, The Kraken's Daughter]",,,https://www.anapioficeandfire.com/api/characte...,[https://www.anapioficeandfire.com/api/houses/...,[https://www.anapioficeandfire.com/api/books/1...,[https://www.anapioficeandfire.com/api/books/5...,"[Season 2, Season 3, Season 4]",[Gemma Whelan]