In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import  RandomForestClassifier

from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix
from sklearn.pipeline import Pipeline

import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

data = pd.read_csv('./../data/raw/conversion_data_test.csv')
print('Data :', data.shape)

Data : (31620, 5)

In [2]:
import joblib

In [3]:
my_classifier = joblib.load('../models/my_classifier.pkl')

### 3. Validation

In [5]:
y_pred = my_classifier.predict(data)

In [6]:
y_pred

array([1, 0, 0, ..., 0, 0, 0])

In [7]:
data_with_pred = data.copy()
data_with_pred['y_pred'] =  y_pred
data_with_pred

       country  age  new_user  source  total_pages_visited  y_pred
0           UK   28         0     Seo                   16       1
1           UK   22         1  Direct                    5       0
2        China   32         1     Seo                    1       0
3           US   32         1     Ads                    6       0
4        China   25         0     Seo                    3       0
...        ...  ...       ...     ...                  ...     ...
31615  Germany   25         1     Seo                    3       0
31616       US   36         1     Ads                    7       0
31617       UK   33         1     Seo                    5       0
31618       UK   25         1     Seo                   14       0
31619       US   22         1     Seo                    2       0

[31620 rows x 6 columns]

In [9]:
data_with_pred.y_pred.value_counts()*100 / data_with_pred.shape[0]

0    97.41303
1     2.58697
Name: y_pred, dtype: float64

In [10]:
data_with_pred.describe()

                age      new_user  total_pages_visited        y_pred
count  31620.000000  31620.000000         31620.000000  31620.000000
mean      30.620746      0.685579             4.870398      0.025870
std        8.316736      0.464292             3.333128      0.158749
min       17.000000      0.000000             1.000000      0.000000
25%       24.000000      0.000000             2.000000      0.000000
50%       30.000000      1.000000             4.000000      0.000000
75%       36.000000      1.000000             7.000000      0.000000
max       69.000000      1.000000            26.000000      1.000000

In [11]:
data_with_pred.to_csv('../data/evaluation/evaluation_df.csv', index=False)

In [12]:
data_with_pred.to_csv('../data/evaluation/evaluation_y_pred.csv', columns=['y_pred'], index=False)